html,
body {
	font-family: Arial;
	background: linear-gradient(to right, #e5e5e5, lightblue);
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	height: 100%;
	position: relative;
}

#header {
	padding: 15px;
}

#body {
	padding: 15px;
	padding-bottom: 60px;
}

#footer {
	text-align: right;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#footer a {
	padding: 10px;
	border-bottom: solid 1px teal;
}

.header_element {
	padding: 10px;
	border-bottom: solid 1px teal;
}

.header_element:hover {
	background-color: silver;
}

.header_element:link {
	color: black;
	text-decoration: none;
}

.header_element:visited {
	color: black;
}

#header3 {
	float: right;
	padding-bottom: 10px;
	border-bottom: solid 1px teal;
}

.footer_element {
	padding: 10px;
	border-bottom: solid 1px teal;
}

.footer_element:hover {
	background-color: silver;
}

.footer_element:link {
	color: black;
	text-decoration: none;
}

.footer_element:visited {
	color: black;
}

h1 {
	font-family: Arial;
	margin-bottom: 35px;
}

.input_content {
	background-color: snow;
	border: 2px solid transparent;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0px 10px 15px;
	margin: 4px;
	transition: border .5s;
	min-width: 1300px;
}

.input_content:focus {
	border: 2px solid teal;
	box-shadow: none;
}

.input_content:active {
	background-color: silver;
}

.input_content:hover {
	color: teal;
}

.login {
	margin: 3px;
}

.submit_content {
	background-color: snow;
	border: 2px solid transparent;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0px 10px 15px;
	margin: 0px 4px 0px 4px;
	transition: border .5s;
	max-width: 1300px;
	width: 100px;
	text-align: center;
}

.volume_button {
	background-color: snow;
	border: 2px solid transparent;
	border-radius: 7px;
	font-size: 16px;
	font-weight: 200;
	padding: 10px 0px 10px 15px;
	margin: 0px 4px 4px 4px;
	transition: border .5s;
	max-width: 1300px;
	width: auto;
	text-align: center;
}