<!DOCTYPE html>
<html>
    <head>
        <title>WNScraper - About</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    </head>
    <body>
      <div id="container">

        <div id='header'>
          <a href="/"  class='header_element'>Homepage</a>
          <a href="/about" class='header_element'>About</a>
          <!-- Replace Japanese with flag -->
          <a id='header3'>Japanese</a>
        </div>

      <div id="body">
        <h2>WNScraper</h2>
        <div id="description">
          <h3>Description</h3>
          <p>WNScraper is a simple web scraper designed to get the content of any web novel from the website <a href="https://ncode.syosetu.com/" style="color: black;"><b>https://ncode.syosetu.com/</b></a>, and turn it into an epub file.</br></br>
          <b>Note:</b> epub files are generated per volume. If there are no volumes, one epub file containing every chapter is generated.</p>
        </div>
        <div id="reason">
          <h3>Reason for making this</h3>
          <p>It's a fun way to teach myself how to program.</p>
        </div>
	    </div>

      <div id="footer">
  	    <a href='https://github.com/NicolasAbroad/epub_scraper' class='footer_element'>Github repository</a>
  	    <a href='/logout' class='footer_element'>Logout</a>
      </div>
    </div>
    </body>
</html>
