<!DOCTYPE html>
<html>
    <head>
        <title>WNScraper - Home</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    </head>
    <body>
      <div id="container">

        <div id='header'>
          <a href="/" class='header_element'>Homepage</a>
          <a href="/about" class='header_element'>About</a>
          <!-- Replace Japanese with flag -->
          <a id='header3'>Japanese</a>
        </div>

      <div id="body">
      <h1>WNScrape</h1>
  	    <fieldset>
  	    <legend>Enter URL address you wish to scrape</legend>
      		<div>
			  <form name='input_url' action="/process" method='POST'>
    			  <input type="url" name="input_content" placeholder="https://ncode.syosetu.com/n7975cr/" class="input_content" />
                  <input type="submit" value="Submit" class='submit_content'>
			  </form>
    		</div>
  	    </fieldset>
	    </div>

      <div action='{{url_for('process')}}' id="footer">
  	    <a href='https://github.com/NicolasAbroad/epub_scraper' class='footer_element'>Github repository</a>
  	    <a href='/logout' class='footer_element'>Logout</a>
      </div>
    </div>
    </body>
</html>
