{% extends 'base.html' %}
{% block app_content %}
  <h2>{{ _('Series: ' )}}{{series_name[0]}}</h2>
  <p>{{ _("Depending on the length of the series, it can take a while to generate the epub files.") }}</p>
  <div class="download_all">
    <h3>{{ _('Download all volumes') }}</h3>
    <form action="{{ url_for('download_all', series_name=series_name[1]) }}" method="POST">
      <button class="download-button">{{series_name[0]}}</button>
    </form>
  </div>
  <div class="download-single">
    <h3>{{ _('Download by volume') }}</h2>
    {% for volume_number in volume_names %}
    <form action="{{ url_for('download', volume_number=volume_number) }}" method="POST">
      <button class="download-button">{{ volume_number }} - {{ volume_names[volume_number] }}</button>
    </form>
    {% endfor %}
  </div>
{% endblock %}
